* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow: overlay;
}
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 101, 47, 0.8);
  border-radius: 5px;
}
